body {
  margin-bottom: 6em;
}

#meatshield {
  position: relative;
  top: 2em;
  margin: 0 auto 2em;
}

#footer{
  width: 100%;
  text-align: center;
  margin-bottom: .25em;
  margin-top: .25em;
}

#generate-character{
  width: 20em;
  height: 5em;
  display: inline-block;
}

.character {
  border-radius: 10px;
  width:  20em;
  background: #fff;
  border: 2px solid #46494C;
  padding: .5em;
  color: #46494C;
  overflow: hidden;
  margin: .6em 0 .6em 0;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.character .type {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  padding: .25em;
  font-weight: 500;
}

.character .name {
  position: relative;
  z-index: 2;
  text-align: left;
  font-size: 2em;
  width: 100%;
  padding-right: .0825em;
  color: #46494C;
  font-weight: 400;
}

.character .race {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  padding: .25em;
  font-weight: 500;
}

.character .hp{
  font-size: 1.25em;
  font-weight: 500;
  padding: .25em;
}

.weapon .weapon-name{
  font-size: 1.25em;
  width: 100%;
  font-weight: 500;
}

.weapon .weapon-description{
  font-size: .9em;
  width: 100%;
  text-align: right;
  font-weight: 500;
}

.armor .armor-name{
  width: 100%;
  font-size: 1.25em;
}

.armor .armor-description{
  width: 100%;
  text-align: right;  
  font-size: .9em;
}

.item .item-name{
  font-size: 1.25em;
  width: 100%
}

.item .item-description{
  width: 100%;
  text-align: right;
  font-size: .9em;
}
