/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
  overflow: hidden;
}

.panel-heading{
  height:10vh;
}

table {
	border: 0;
	padding: 0;
	margin: 0 0 100px 0;
	border-collapse: collapse;
}

th {
	padding: 5px; /* NOTE: th padding must be set explicitly in order to support IE */
	text-align: left;
	text-transform: uppercase;
	line-height: 2em;
	color: #FFF;
	background-color: #555;
}

.scrollable-area {
	margin: 0 0 20em 0;
	height: 90vh;
	border: 2px solid #FFC234;
	overflow: auto;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
	-moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
	box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
}
